{% extends "layout.html" %}

{% block main %}
    <article class="card text-left p-3">
        <h2>About</h2>
        <p>Rebalance Calculator is a simple tool to help rebalance investment portfolio. It uses <a href="https://github.com/ranaroussi/yfinance">yfinance</a> to retrieves market data from Yahoo! Finance. If you found any issue or want to contribute to this project, go to <a href="#">rebalance-calculator</a> on Github. The site is being hosted for free on <a href="https://www.pythonanywhere.com/">PythonAnywhere.</a></p>

        <h2>Privacy</h2>
        <p>This site does not collect or store personally identifiable information.</p>

        <h2>Disclaimer</h2>
        <p>This site and any calculation provided are for information purposes only. It is not intended to be investment advice. Seek a duly licensed professional for investment advice.</p>
    </article>
{% endblock %}