{% extends "layout.html" %}

{% block main %}
    <article class="card text-left p-3">
        <h2>How to use this calculator</h2>
        <ol>
            <li>Enter all tickers in your portfolio, separated by commas</li>
            <li>If your portfolio is an IRA, enter a contribution amount (up to $7,000 for 2019). Otherwise enter 0.</li>
            <li>For each row, enter each ticker's dollar balance and your target allocation</li>
            <li>Green row for ticker indicates a buy. Red row indicates a sell.</li>
        </ol>
    </article>
{% endblock %}